= semantic_form_for @invoice do |f|
  = f.inputs do
    = f.input :customer
    = f.input :contact_person
    = f.input :invoice_template
    = f.input :date, :as => :string
    = f.input :number
    = f.input :comment, :input_html => {:rows => 2}
    = f.input :exchange_rate
    - unless @time_entries.blank?
      - @time_entries.each do |time_entry|
        = f.input "time_entry_ids][", :as => :hidden, :value => time_entry.id
  = f.inputs "Line Items" do
    #line-items
      = f.semantic_fields_for :line_items do |line_item|
        = render "line_item_fields", :f => line_item
      .links
        = link_to_add_association "Add Line Item", f, :line_items, :class => "assoc btn"
  = f.buttons

:coffeescript

  default_comments = { #{default_comments_for_js} }
  contact_people = { #{contact_people_for_js} }

  jQuery ->
    $("#invoice_invoice_template_id").change ->
      $("#invoice_comment").val(default_comments[$("#invoice_invoice_template_id").val()])
    $("#invoice_customer_id").change ->
      $("#invoice_contact_person_id").html(contact_people[$("#invoice_customer_id").val()])
