.nested-fields
  = f.inputs do
    = f.input :quantity
    = f.input :unit
    = f.input :description, :as => :string
    = f.input :unit_price
    = f.input :vat
    = link_to_remove_association "Remove Line Item", f, :class => "assoc btn danger"
