.nested-fields
  = f.inputs do
    = f.input :title
    = f.input :time_budget
    = f.input :default_rate
    = f.input :default_vat
    = link_to_remove_association "Remove Project", f, :class => "assoc btn danger"
