.page-header
  .pull-right
    = link_to "Add Entry", new_time_entry_path, :class => "btn primary"
  %h1 Time Entries
.row
  .span16
    %table.zebra-striped
      %thead
        %th Date
        %th Project
        %th Duration
        %th Invoiced?
        %th Actions
      %tbody
        - @time_entries.each do |time_entry|
          %tr
            %td= time_entry.date
            %td= time_entry.project.title
            %td= time_entry.duration
            %td= time_entry.invoiced?
            %td
              = link_to "Edit", edit_time_entry_path(time_entry)

