.page-header
  .pull-right
    = link_to "Add Entry", new_time_entry_path, :class => "btn primary", :"data-shortcut" => "a"
  %h1 Time Entries
- @time_entries_by_project.keys.each_slice(4) do |projects|
  .row
    - projects.each do |project|
      .span4
        %h3= project.customer.name + ": " + project.title
        %p 
          Time spent:
          = project.time_spent
          - unless project.time_budget.blank?
            \/
            = project.time_budget
        %p Last 10 time entries
        %ul
          - @time_entries_by_project[project].each do |time_entry|
            %li= time_entry.to_s
